.icon {
  display: inline-block; /* CRITICAL: Allows transforms to work */
  font-size: 20px;
  color: #000000;
  /* Transition both the transform and the icon change if possible */
  transition: transform 0.3s ease-in-out; 
  background-color: transparent;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.rotate {
  transform: rotate(90deg);
}

.dropdown-item:hover {
  background-color: #f0f0f0 !important;
  border-radius: 4px;
} 