.mobile-app {
  max-width: 430px;   /* iPhone 14 Pro Max */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

header{
  background-color: #F296AD;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Caveat", Arial;
  
}

.start-image {
  background-size: cover;        /* fill container */
  background-position: center;   /* center image */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;   
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .invitation-card-container{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: transparent;
} */