@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap');
.mobile-app {
  max-width: 430px;   /* iPhone 14 Pro Max */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header{
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Caveat", Arial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* border-top-left-radius: 10px; */
  /* border: 1px solid black; */
}

.start-image {
  background-size: cover;        /* fill container */
  background-position: center;   /* center image */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;   
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #payments {
  position: relative;
  min-height: 100vh;
} */

#payments{
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Kdam Thmor Pro";
  color: #555;
  /* top | right | bottom | left */
  padding: 40px 0 40px 0;
  /* position: relative; */
}


.jongdia{
  border: 0;
  font-family: "Battambang";
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ee66aa;
  color: white;
}

.jongdia:active{
  background-color: #c85890;
}

.heart-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.boy, .girl {
  width: 100%;  
  height: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid #ccc; */
  z-index: 1;
}

/* .girl {
  width: 100%;  
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */


.heart-btn {
  position: absolute;
  /* top: 50%; */
  /* z-index: 3; */
  margin: 18rem;
}

.img-bg-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* border: 1px solid black; */
  width: 100%;
  height: 30rem;
  text-align: center;
}

.control-bg-img-boy{
  width: 50%;
  /* border: 1px solid black; */
}

.control-bg-img-girl{
  /* margin-top: 10%; */
  width: 50%;
  /* border: 1px solid black; */
  top: 10%;
  position: relative;

}
.data_table{
  margin-top: 40px;
}